USE [CnmPro]
GO
/****** Object:  UserDefinedTableType [dbo].[UserProfessionTypes]    Script Date: 8/7/2022 10:20:50 PM ******/
CREATE TYPE [dbo].[UserProfessionTypes] AS TABLE(
	[Name] [nvarchar](100) NULL
)
GO
